<html><body>
<form action="/list" method="get">
Borough: 
<select name="borough">
<%for (i in boroughs) {%>
  <option value="<%=boroughs[i]%>"><%=boroughs[i]%></option>
    <%}%>
</select>
<input type="submit" value="Search">
</form>

<form action="/list" method="get">
Name: 
<select name="name">
    <%for (i in names) {%>
  <option value="<%=names[i]%>"><%=names[i]%></option>
    <%}%>
</select>
<input type="submit" value="Search">
</form>

<form action="/list" method="get">
Cusine: 
<select name="cuisine">
    <%for (i in cuisines) {%>
  <option value="<%=cuisines[i]%>"><%=cuisines[i]%></option>
    <%}%>
</select>
<input type="submit" value="Search">
</form>
</body></html>